<h2><%= @tasks.title %></h2>
<h3><%= @tasks.details %></h3>

<h4>
  <%= check_box("tag", @tasks.id, {checked: @tasks.completed}) %>
</h4>


<%= link_to'<< Back', tasks_path %>
<%= link_to'Edit >>', edit_path %>

